{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block extra_title %} - Home{% endblock %}


{% block quote %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
       <div class="col">
          <div class="text-center mt-2 mb-2">
             <h2>Signs of Childhood Cancer</h2>
          </div>
          <p class="text-primary"><span class="first-character">C</span>hildhood cancer is relatively rare. However, as a parent, it may be helpful to be aware of the symptoms of childhood cancer:</p>
          <div class="card">
             <div class="card-body">
                <p class="card-text">
                <div class="signs text-primary">
                   <p><strong>C</strong>ontinued, unexplained weight loss</p>
                   <p><strong>H</strong>eadaches, often with early morning vomiting</p>
                   <p><strong>I</strong>ncreased swelling or persistent pain in bones, joints, back, or legs</p>
                   <p><strong>L</strong>ump or mass, especially in the abdomen, neck, chest, pelvis, or armpits</p>
                   <p><strong>D</strong>evelopment of excessive bruising, bleeding, or rash</p>
                   <p><strong>C</strong>onstant infections</p>
                   <p><strong>A</strong> whitish color behind the pupil</p>
                   <p><strong>N</strong>ausea which persists or vomiting without nausea</p>
                   <p><strong>C</strong>onstant tiredness or noticeable paleness</p>
                   <p><strong>E</strong>ye or vision changes which occur suddenly and persist</p>
                   <p><strong>R</strong>ecurrent or persistent fevers of unknown origin</p>
                </div>
                </p>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}

{% block postloadjs %}{% endblock %}