{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block extra_title %} - News{% endblock %}


{% block quote %}

{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>News</h1>
                {% for article in articles%}

                <div class="card">
                    <a href="{{article.link}}" target="_blank" rel="noopener noreferrer" title="Go to news article"
                        style="text-decoration: none;">
                        <div class="card-body">
                            <div class="row">
                                <div class="small">
                                    <h6 class="news-header">{{article.name}} <span class="small muted">(source:
                                            {{article.provider}})</span></h6>
                                    <p class="card-text"> {{article.content}}....</p>
                                    <div class="small muted card-text">{{article.date}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div className="twitter-embed ">
                    <a class="twitter-timeline" data-theme="dark" data-tweet-limit="3"
                        data-chrome="noheader nofooter noborder" href="https://twitter.com/mollyrosecancer?">Tweets by
                        TwitterDev</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block postloadjs %}{% endblock %}