{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}



{% block innercontent %}
<div class="row">
    <div class="col-sm-8">
        <div class="admin-content">

            {% if app_list %}
            {% for app in app_list %}

            <div class="admin-section">
                <div class="mt-4">
                    <h3><a href="{{ app.app_url }}" class="model-title"
                            title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                    </h3>
                </div>

                <div class="model-content ">
                    {% for model in app.models %}

                    {% if model.admin_url %}
                    <div class="model-sub-title">
                        <a href="{{ model.admin_url }}" class="text-left">{{ model.name }}</a>
                    </div>
                    {% else %}
                    {{ model.name }}
                    {% endif %}

                    {% if model.add_url %}
                    <div class="add-btn"><a href="{{ model.add_url }}" class="btn">{% trans 'Add' %}</a></div>
                    {% else %}

                    {% endif %}

                    {% if model.admin_url %}
                    {% if model.view_only %}
                    <div class=""><a href="{{ model.admin_url }}" class="btn">{% trans 'View' %}</a></div>
                    {% else %}
                    <div class="change-btn"><a href="{{ model.admin_url }}" class="btn">{% trans 'Change' %}</a>
                    </div>
                    {% endif %}
                    {% else %}

                    {% endif %}

                    {% endfor %}

                </div>
                </div>
                {% endfor %}
                {% else %}
                <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
                {% endif %}
            
                
        </div>
    </div>
    <div class="col-sm-4">
        <div id="admin-section">
            <div class="recent admin-section mt-4" id="recent-actions-module">
                <div class="model-title">{% trans 'Recent actions' %}</div>

                <div class="model-sub-title">{% trans 'My actions' %}</div>
                {% load log %}
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
                {% else %}
                
                    {% for entry in admin_log %}
                 
                        {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}<br>
                        {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                        <br>
                        {% if entry.content_type %}
                        <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                        {% else %}
                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                        {% endif %}

                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>





{% endblock %}