{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block extra_title %} - Home{% endblock %}


{% block quote %}

{% endblock %}
{% block content %}
<div class="mb-2 container">
    <div class="row">
       <div class="text-center col">
          <h1>Mollys Story</h1>
       </div>
    </div>
    <div class="row">
        content here
    </div>
 </div>
{% endblock %}

{% block postloadjs %}{% endblock %}