{% load static %}
<section>

    <div class="mb-4 container">
        <div class="row">
            <div class="mb-4 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Tell me more</h2>
                    </div>
                    <img variant="top" alt="balloons floating into the sky" src="{% static '/img/cancer-module.png' %}"
                        class="card-img img-fluid rounded card-img">
                    <div class="card-body">
                        <div class="card-text">
                            <h3 class="news-header">Childhood Cancer causes, signs and
                                symptoms</h3>
                        </div>
                        <p class="card-text">There are many types of diseases that are classed Childhood Cancer. The
                            causes are manifold and in some cases largley unknown. However be assured that Childhood
                            Cancer is very rare.</p>
                        <a title="Find out more information about Childhood Cancer" class="btn" href="/childhoodcancer/"
                            role="button" style="text-align: left;">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h2>How Can I Help?</h2>
                    </div>
                    <img variant="top" alt="Crumlin Childrens Hospital" src="{% static '/img/crumlin2.png' %}"
                        class="img-fluid rounded card-img">
                    <div class="card-body">
                        <div class="card-text">
                            <h3>Donating blood and helping out charitys
                            </h3>
                        </div>
                        <p class="card-text">There are many organisations and charitys that provide much needed support.
                            From assisting the children themselves to supporting families affected by a childhood cancer
                            diagnosis</p>
                        <a title="Find out the many ways to help" class="btn" href="/helpout/" role="button"
                            style="text-align: left;">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h2>News &amp; Events</h2>
                    </div>
                    <img variant="top" alt="Colourful chalk pieces" src="{% static '/img/events.png'%}"
                        class="img-fluid rounded card-img">
                    <div class="card-body">
                        <div class="card-text">
                            <h3>{{article.name}}</h3>
                        </div>
                        <div class="card-text mb-3"><span>{{article.content}}.......</span></div>
                        <a title="Find out the latest news on Childhood Cancer" class="btn" href="/news/" role="button"
                            style="text-align: left;">Browse News</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>